body {
    background-color: darkblue;
    width: 99%;
    height: 100%;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: blue;
    padding: 10px;
    border: 5px solid black;
}

button{
    width: 48%;
    height: 100%;
    font-size: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    border: 5px solid black;
}

.navbar{
    width: 100%;
    height: 40px;

    margin: auto;
    
}