body {
  background-color: rgb(0,20,141);
  background-image: url("../Artwork/background.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.infoBox{
    width: 90%;
    margin: 5%;
    background-color: rgb(0,20,141);
    border: solid;
    border-color: rgb(1, 15, 96);
    border-width: 4px;
    border-radius: 6px;
}

.infoParagraph{
    width: 100%; 
    padding: 1%;
    font-size: x-large;
    color: aliceblue;
    font-family: Garamond, serif;
}