.barChartCanvas{
    border: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
    margin-left: 4%;
}

.navbar{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.navbarButton{
    width: 24.5%;
    margin: 0%;
    padding: 0%;
}

.userInput{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.userInputTextBox{
    width:80%;
    height:100%;
}

.labelBox{
    width: 90%;
    margin-left: 5%;
    color: aliceblue;
}

.dolphinDescriptionDiv{
    width: 90%;
    margin: 5%;
    background-color: rgb(0,20,141);
    border: solid;
    border-color: rgb(1, 15, 96);
    border-width: 4px;
    border-radius: 6px;
}

.dolphinParagraph{
    width: 100%; 
    padding: 1%;
    font-size: x-large;
    color: aliceblue;
    font-family: Garamond, serif;
}

.resultsScreen{
    position: absolute; 
    left: 10%; 
    top: 20%; 
    width: 80%; 
    height: 60%; 
    background-color: aliceblue; 
    display: none;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: aliceblue;
}

body {
  background-color: rgb(0,20,141);
  background-image: url("../Artwork/background.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
